#include <bits/stdc++.h>
using namespace std;

class node{
        private:
                int data;
                node* next;
                node* prev;
        public:
                void setter(int d=0, node * n=0, node * p=0)
                {
                    this->data=d;
                    this->next=n;
                    this->prev=p;
                }
                int getData()
                {
                   return this->data;
                }
                node* getNext()
                {
                    return this->next;
                }
                node* getPrev()
                {
                    return this->prev;
                }
};
class Circular_linked_list{
        private:
                int size;
                node* current;
        public:
                Circular_linked_list(int d=0, node* n=0, node * p=0){
                    current=new node;
                    this->current->setter(d, n, p);
                }
                ~Circular_linked_list()
                {
                    delete this->current;
                    current=0;
                    size=0;
                }
                void setSize(int s=0)
                {
                    this->size=s;
                }
                int getSize()
                {
                    return this->size;
                }
                void push()
                {

                }
                void pop();
                void pop(int data);
                void push_after(int new_data,int pa_data);
                void push_befor(int new_data,int pb_data);
                void print();


};



int main(){



}
